/* <--- START Site Styles --->*/

*{
  margin: 0; /* resetting all margins and paddings*/
  padding: 0;
}

/* Setting the sase size using rem on html tag: 1rem = 16px [2 x rem is 32px - remember Kerry! */
html {
  font-size: 16px;
  background-color: #f2ecff;
  color: #2C2C2C;
}

body {
font-family: 'IBM Plex Sans', sans-serif;
font-size: 1rem;
color: #2c2c2c;
}

h1 {
 font-size: 2.5rem;
}

h2{
    font-size: 1.75rem;
}

/* to center content in page, reusable*/
.container-wrap {
 display: flex;
 max-width: 1200px;
 margin: 0 auto;
}

h1 {
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 1rem;
  line-height: 1.1;
}

h2 {
  font-size: 2.75rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.6;
  max-width: 60ch;
  margin-bottom: 1rem;
}

/* <--- END Site Styles  --->*/


/* <--- START Header Bar & Navigation Styles  --->*/
header {
  display: flex; /*Note for me to remember, make a section a flex to use this */
  background-color: #212121;
  padding: 25px 50px;
  flex-direction: row;
  align-items: center;
}

/* Responsive layout - makes a one column layout instead of a two-column layout [https://www.w3schools.com/css/css3_flexbox_responsive.asp]  */
@media (max-width: 800px) {
  header {
    flex-direction: column;
  }
}

.logo {
  width: 30%;
}

/* Responsive image so it shrinks */
@media (max-width: 768px) {
  .logo img {
    max-height: 30px;
  }
}

.logo img {
  height: auto;
  max-height: 60px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

nav a {
  color: #FBB566;
  text-decoration: none;
}

.top-nav {
  width: 70%;
  
}

/* <--- END Header bar & Navigation Styles --->*/

/* <--- START Intro Settings --->*/

#intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  background-color: #212121;
}

.vid-preview {
  background-image: url("../images/paper-testing-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.hello, .vid-preview  {
  width: 50%;
  padding: 0px 100px;
  color: #f2ecff;
  margin: 0;

}


