
body {
    background-color: #f1faee !important;
    color: #3D3D3D;
    font-family: 'Inter', sans-serif !important;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

h2 {
  color: #003eaa !important;
}

.top-nav {
  background-color: #f1faee;
}

.blog-section {
  background-color: #f4a261;
}

.banner-area{
  background-image: url('../images/header2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.brand-logo {
color: #f4a261;
}

.footer-two ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-container a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: #000000;
    font-weight: bold;
}
.footer-container a:hover {
    color: #2a9d8f;
    
}

.brand-green {
  color: #2a9d8f;
}