/* styles for Spanish Website */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
     /* Font families */
    --font-heading: 'Poppins', sans-serif;
    --font-body: 'Inter', sans-serif;

     /* Font sizes and settings */
    --fs-base: 1rem;            /* 16px */
    --fs-sm: 0.875rem;          /* 14px */
    --fs-md: 1.125rem;          /* 18px */
    --fs-lg: 1.5rem;            /* 24px */
    --fs-xl: 2rem;              /* 32px */
    --fs-xxl: 2.5rem;           /* 40px */

    --p-spacing:var(--spacing-sm);

  /* Spacing */
    --spacing-xs: 0.25rem; /* 4px */
    --spacing-sm: 0.5rem;  /* 8px */
    --spacing-md: 1rem;    /* 16px */
    --spacing-lg: 2rem;    /* 32px */
    --spacing-xl: 4rem;    /* 64px */
    --spacing-xxl: 6rem;   /* 96px */
    --spacing-xxxl: 8rem;  /* 128px */

     /* Layout widths for sections & other layout settings */
    --section-max-width-boxed: 1200px;
    --section-padding-row: 2rem;
    --section-spacing: 2rem;
    --section-left-side-padding: 6rem;

  /* Website colours */
    --website-color-primary: #E63946;
    --website-color-secondary: #F4A261;
    --website-color-third: #fadeb0;
    --website-color-accent: #2A9D8F;
    --website-color-light-bg: #F1FAEE;
    --website-color-dark-headings: #103b77;
    --dark-body-text-color: #3D3D3D;
    --light-text-color: #6D6D6D;
    --color-white:#FFFFFF; 
    --color-black: #000000;


    /*shadows and things */
    --shadow-light: 0 1px 3px rgba(0, 0, 0, 0.1);
    --shadow-medium: 0 4px 6px rgba(0, 0, 0, 0.15);

 /* Navigation styles */
    --nav-height: 64px;
    --nav-font: var(--font-heading);
    --nav-text-color: var(--website-color-dark-headings);
    --nav-hover-color: var(--website-color-accent);
    --nav-spacing:var(--spacing-md);
    --nav-sign-up-button: var(--website-color-accent);
    --nav-button-text: var(--color-black);
    --nav-botton-hover: var(--website-color-accent);
    --nav-shadow: var(--shadow-light);
    
    /* buttons styles */
    --sup-button-radius: 999px;
    --sup-button-padding: 0.75rem 2rem;
    --sup-button-text: var(--font-heading);
}

    /* html styles */
body {
    background-color: var(--website-color-light-bg);
    color: var(--dark-body-text-color);
    font-family: var(--font-body);

}

h1, h2, h3 {
    color: var(--website-color-dark-headings);
    font-family: var(--font-heading);
}

p {
    margin-bottom: var(--p-spacing);
    margin-top: var(--p-spacing);
}

    /* Header/nav bar settings */

nav a {
  text-decoration: none;
  color: var(--dark-body-text-color);
  padding: 0.5rem 1rem;
  font-weight: var(--fw-medium);
  display: inline-block;
}

nav a:hover {
    color: var(--nav-botton-hover);
}
 
.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-lg) var(--section-left-side-padding);
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--website-color-light-bg);
}

.logo {
    flex: 1;

}

.sign-up {
    flex: 1;
    display: flex;
    justify-content: flex-end;

}

.header-nav {
    flex: 1;
    display: flex;
    align-items: center;
    font-weight: bolder;

}

.header-nav ul {
     list-style: none;
     margin: 0;
     padding: 0;
     display: flex;
     gap: var(--spacing-md)

}

.button-sign-up {
    background-color: var(--website-color-accent);
    color: var(--color-white);
    border: none;
    border-radius: var(--sup-button-radius);
    padding: var(--sup-button-padding);
    font-family: var(--sup-button-text);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-sign-up:hover {
  background-color: var(--website-color-primary);  
}
/* Section content settings */

.section-full-width {
    width: 100%;
    padding: var(--section-spacing) 0;
}

.section-full-width .inner {
  max-width: var(--section-max-width-boxed);
  margin-left: var(--section-left-side-padding);
  margin-right: var(--section-padding-row);
}

.section-boxed {
  max-width: var(--section-max-width-boxed);
  margin: 0 auto;
  padding-left: var(--section-left-side-padding);
  padding-right: var(--section-left-side-padding);
  background-color: var(--clr-white); 
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-light);
}

/* Footer Settings - 3 column */
.footer {
  padding: var(--spacing-xxl) var(--section-left-side-padding);
}

.footer-container a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: #000000;
    font-weight: bold;
}
.footer-container a:hover {
    color: var(--website-color-accent);
    
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: var(--section-max-width-boxed);
    margin: 0 auto;
    gap: var(--spacing-lg);
    flex-wrap: wrap;
}

.footer-container h3 {
    font-family: var(--font-heading);
    font-size: var(--fs-lg);
    margin-bottom: var(--spacing-md);
}

.footer-two ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-two li {
    margin-bottom: var(--spacing-xs);
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    font-weight: bold;
}

.newsletter-form input[type="text"], .newsletter-form input[type="email"] {
    padding: 0.75rem;
    border: none;
    border-radius: var(--sup-button-radius);
    font-size: var(--fs-sm);
    font-family: var(--font-body);
}



/* Banner Settings (2 column full width) settings (used on homepaged & blog) */

.banner-area {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('../images/header2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
  padding: 0 var(--section-left-side-padding);
}
    

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex: 1;
  max-width: var(--section-max-width-boxed);
  margin: 0 auto;
}

.banner-area {
  height: calc(100vh - var(--nav-height));
  display: flex;
  align-items: flex-start;
  background-image: url('../images/header2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
  padding: var(--spacing-xl) var(--section-left-side-padding) var(--spacing-lg);
}

.banner-left {
  flex: 0 0 55%;
  display: flex;
  flex-direction: column;
  justify-self: start;
  max-width: 37.5rem;
  line-height: 1.6;
}

.banner-left h1 {
    font-size: var(--fs-xxl);
    color: #E63946;
    line-height: 1.6;
}

.banner-left h2 {
    font-size: var(--fs-lg);
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.6;
}
.banner-left p {
    font-size: var(--fs-md);
    line-height: 1.6;
}

.button-sign-up {
  background-color: var(--website-color-accent);
  color: var(--color-white);
  border: none;
  border-radius: var(--sup-button-radius);
  padding: 0.75rem 1.5rem; 
  font-family: var(--sup-button-text);
  font-size: var(--fs-sm); 
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: var(--shadow-light);
  align-self: start;
  text-decoration: none;
}

.button-sign-up:hover {
  background-color: var(--website-color-primary);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}


.banner-right {
    flex: 0 0 38%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.senor-bill {
  width: auto;
  max-height: 78vh;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.senor-bill:hover {
  transform: scale(.95);
  filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.2));
}

/* Homepage Content Settings (2 column full width) settings */

.two-column-section {
    height: 100vh;
    display: flex;
    align-items:center;
    padding: 0 var(--section-left-side-padding);
}

.two-column-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: var(--section-max-width-boxed);
    margin: 0 auto;
    width: 100%;
    gap: var(--spacing-lg);
}

.content-left {
    flex: 0 0 45%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.senor-image-two {
  width: 100%;
  max-width: 500px;
  height: auto;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.senor-image-two:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.2));
}

.content-right {
  flex: 0 0 50%;
}

.content-right h2 {
  font-size: var(--fs-xl);
  margin-bottom: var(--spacing-sm);
  color: var(--website-color-primary);
}

.content-right p {
  font-size: var(--fs-md);
  margin-bottom: var(--spacing-md);
  line-height: 1.6;
}

.content-right h2 {
  font-size: var(--fs-xxl); 
  margin-bottom: var(--spacing-md);
}

.content-right p {
  max-width: 35ch; 
}



/* Homepage Content Settings for 3 column blog links */
.blog-section {
  padding: var(--spacing-xl) var(--section-left-side-padding);
  background-color: var(--website-color-secondary);
}

.blog-container {
  max-width: var(--section-max-width-boxed);
  margin: 0 auto;
}

.blog-container h2 {
  font-size: var(--fs-xl);
  margin-bottom: var(--spacing-lg);
  color: var(--website-color-primary);
}

.blog-cards {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-lg);
  justify-content: space-between;
}

.blog-card {
  background-color: var(--color-white);
  border-radius: 1rem;
  box-shadow: var(--shadow-light);
  overflow: hidden;
  flex: 1 1 calc(33.333% - var(--spacing-lg));
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.blog-card:hover {
  transform: scale(1.02);
}

.blog-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.blog-content {
  padding: var(--spacing-md);
}

.blog-content h3 {
  font-size: var(--fs-lg);
  margin-bottom: var(--spacing-sm);
  color: var(--website-color-dark-headings);
}

.blog-content p {
  font-size: var(--fs-sm);
  color: var(--light-text-color);
  margin-bottom: var(--spacing-md);
}


/* Pricing page settings 100%vh */
.header-pricing {
    height: 100vh;
    text-align: center;
    padding: var(--spacing-xxl) var(--section-left-side-padding);
    
}

.pricing-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--spacing-lg);
    max-width: var(--section-max-width-boxed);
    margin: 0 auto;
}
.pricing-header, .contact-header h1 {
    font-size: var(--fs-xxl);
    color: #E63946;
}

.pricing-header h2 {
    font-size: var(--fs-xl);
    margin-bottom: var(--spacing-xxl);
}
.pricing-card {
  flex: 1 1 calc(33.333% - var(--spacing-lg));
  background-color: var(--color-white);
  border: 2px solid var(--website-color-accent);
  border-radius: 1rem;
  padding: var(--spacing-lg);
  text-align: center;
  transition: transform 0.3s ease;
  box-shadow: var(--shadow-light);
}

.pricing-card h3 {
  font-size: var(--fs-xl);
  color: var(--website-color-primary);
  margin-bottom: var(--spacing-md);
}

.pricing-card .price {
  font-size: var(--fs-lg);
  font-weight: bold;
  color: var(--website-color-secondary);
  margin-bottom: var(--spacing-md);
}

.pricing-card ul {
  list-style: none;
  padding: 0;
  margin: 0 0 var(--spacing-md);
}

.pricing-card ul li {
  margin-bottom: var(--spacing-sm);
  font-size: var(--fs-lg);
}
.pricing-card.featured {
  transform: scale(1.10);
  border-color: var(--website-color-primary);
  background-color: #fffdf9;
  box-shadow: var(--shadow-medium);
}

.pricing-card:hover {
  transform: scale(1.02);
}

/* contact page settings  */


.contact-section {
    text-align: center;
    padding: var(--spacing-md) var(--section-left-side-padding);
}
.contact-container {
  max-width: var(--section-max-width-boxed);
  margin: 0 auto;
}

.contact-container p {
  font-size: var(--fs-md);
  color: var(--dark-body-text-color);
  margin-bottom: var(--spacing-lg);
  max-width: 45ch;
  margin-left: auto;
  margin-right: auto;
  
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  max-width: 800px;
  margin: 3rem auto;
  padding-bottom: 10rem;
}

.contact-form label {
  text-align: left;
  font-size: var(--fs-lg);
  font-weight: 600;
  color: var(--website-color-dark-headings);
}
.contact-form input,
.contact-form {
  padding: 0.75rem;
  font-size: var(--fs-sm);
  border-radius: var(--sup-button-radius);
  border: none;
  font-family: var(--font-body);
  resize: vertical;
}
.textarea {
    border: none;
}
input::placeholder,
textarea::placeholder {
  color: var(--light-text-color);
  font-style: italic;
  font-size: var(--fs-sm);
  opacity: 0.7;
  padding: var(--spacing-md) var(--spacing-md);
}

.contact-form input,
.contact-form textarea {
  color: var(--dark-body-text-color); /* User typed text */
  font-family: var(--font-body);
  font-size: var(--fs-md);
  font-weight: 400;
  padding: 0.75rem;
}

.email-label::before {
  content: "📧";
  margin-right: 0.5rem;
  font-size: 2rem;
}

.name-label::before {
  content: "🧑‍💼 ";  
  margin-right: 0.5rem;
  font-size: 2rem;
}

.message-label {
    content: "💬 ";
    margin-right: 0.5rem;
    font-size: 2rem;
}

/* News/Blog page settings  */

.blog-page .banner-area {
    background-image: none;
    height: auto;
    min-height: unset;
    padding: 0;
}

.blog-bill {
  width: auto;
  max-height: 40vh;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.blog-bill:hover {
  transform: scale(.95);
  filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.2));
}

.blog-layout {
    display: flex;
    gap: var(--spacing-lg);
    max-width: var(--section-max-width-boxed);
    margin: 0 auto;

}
.blog-layout article {
    gap: var(--spacing-xxl);
}

article h2 {
    font-size: var(--fs-lg);
    color: #F1FAEE;
    background-color: #2A9D8F;
    padding: 3rem;
    margin-bottom: var(--spacing-lg);


}

.tips-spacing {
    display: grid;
    gap: var(--spacing-md);
    margin-bottom: var(--spacing-lg);
}